html,body{
    margin:0;
    padding:0;
}

body{
    background:whitesmoke;
    text-align:center;
    font-family:sans-serif;
}
svg{
    display:block;
    margin:auto;
    font: 10px sans-serif;
    text-align:center;
}
a{
    text-decoration:none;
}
.tile{
    color:black;
}
#legend{
    font-size:15px;
}
#tooltip {
  position: absolute;
  padding: 10px;
  font: 12px sans-serif;
  color:white;
  background:steelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  text-align:center;
}
